html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #444444;
  overflow-y: hidden;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
