@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #444444;
  overflow-y: hidden;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  body {
    overflow-y: visible;
  }
}
