@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #444444;
  overflow-y: hidden;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner {
  animation: spinner 1s linear infinite;
}

.loading__icon-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 480px) {
  body {
    overflow-y: visible;
  }
}
