#context-menu {
  position: fixed;
  z-index: 10;
  padding: 1rem 0;
  width: 25rem;
  background: #fff !important;
  border-radius: 5px;
  transform: scale(0);
  transform-origin: top left;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  & .active {
    transform: scale(1);
    transition: transform 300ms ease-in-out;
  }

  & .item {
    list-style: none;
    & i {
      padding: 0 1rem;
    }

    &:not(:last-child) {
      padding-bottom: 1rem;
    }
  }
}

.hidden {
  display: none;
}
