.container {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}

.main-content {
  height: 100vh;
  width: 100%;
  padding-right: 7rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23rem;
  padding: 2rem 1rem;

  & button {
    margin-bottom: 1rem;
  }
}
